<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tournaments</key>
	<dict>
		<key>t20WorldCup</key>
		<dict>
			<key>rounds</key>
			<array>
				<dict>
					<key>points</key>
					<dict>
						<key>win</key>
						<integer>2</integer>
						<key>loss</key>
						<integer>0</integer>
						<key>tie</key>
						<integer>1</integer>
					</dict>
					<key>roundName</key>
					<string>Group Stage</string>
					<key>groups</key>
					<dict>
						<key>Group D</key>
						<array>
							<integer>4</integer>
							<integer>5</integer>
							<integer>12</integer>
						</array>
						<key>Group C</key>
						<array>
							<integer>3</integer>
							<integer>6</integer>
							<integer>11</integer>
						</array>
						<key>Group B</key>
						<array>
							<integer>2</integer>
							<integer>7</integer>
							<integer>10</integer>
						</array>
						<key>Group A</key>
						<array>
							<integer>1</integer>
							<integer>8</integer>
							<integer>9</integer>
						</array>
					</dict>
					<key>seeds</key>
					<integer>12</integer>
					<key>matches</key>
					<array>
						<dict>
							<key>home</key>
							<integer>7</integer>
							<key>away</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>4</integer>
							<key>away</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>11</integer>
							<key>away</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>8</integer>
							<key>away</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>6</integer>
							<key>away</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>9</integer>
							<key>away</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>2</integer>
							<key>away</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>4</integer>
							<key>away</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>7</integer>
							<key>away</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>5</integer>
							<key>away</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>9</integer>
							<key>away</key>
							<integer>8</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>11</integer>
							<key>away</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>points</key>
					<dict>
						<key>win</key>
						<integer>2</integer>
						<key>loss</key>
						<integer>0</integer>
						<key>tie</key>
						<integer>1</integer>
					</dict>
					<key>roundName</key>
					<string>Super Eight</string>
					<key>groups</key>
					<dict>
						<key>Group F</key>
						<array>
							<integer>2</integer>
							<integer>4</integer>
							<integer>6</integer>
							<integer>8</integer>
						</array>
						<key>Group E</key>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<integer>5</integer>
							<integer>7</integer>
						</array>
					</dict>
					<key>seeds</key>
					<integer>8</integer>
					<key>matches</key>
					<array>
						<dict>
							<key>home</key>
							<integer>1</integer>
							<key>away</key>
							<integer>7</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>3</integer>
							<key>away</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>4</integer>
							<key>away</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>8</integer>
							<key>away</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>3</integer>
							<key>away</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>7</integer>
							<key>away</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>8</integer>
							<key>away</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>4</integer>
							<key>away</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>1</integer>
							<key>away</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>7</integer>
							<key>away</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>6</integer>
							<key>away</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>8</integer>
							<key>away</key>
							<integer>4</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>points</key>
					<dict>
						<key>win</key>
						<integer>0</integer>
						<key>loss</key>
						<integer>0</integer>
						<key>tie</key>
						<integer>0</integer>
					</dict>
					<key>roundName</key>
					<string>Semi-Finals</string>
					<key>groups</key>
					<dict>
						<key>Group H</key>
						<array>
							<integer>2</integer>
							<integer>3</integer>
						</array>
						<key>Group G</key>
						<array>
							<integer>1</integer>
							<integer>4</integer>
						</array>
					</dict>
					<key>seeds</key>
					<integer>4</integer>
					<key>matches</key>
					<array>
						<dict>
							<key>home</key>
							<integer>1</integer>
							<key>away</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>home</key>
							<integer>2</integer>
							<key>away</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>points</key>
					<dict>
						<key>win</key>
						<integer>0</integer>
						<key>loss</key>
						<integer>0</integer>
						<key>tie</key>
						<integer>0</integer>
					</dict>
					<key>roundName</key>
					<string>Final</string>
					<key>groups</key>
					<dict>
						<key>Group I</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
					<key>seeds</key>
					<integer>2</integer>
					<key>matches</key>
					<array>
						<dict>
							<key>home</key>
							<integer>1</integer>
							<key>away</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
